.navbutton{
    color: rgb(23, 23, 23);
    padding: 0.5rem 1rem;
}
#offcanvasNavbar{
    visibility: hidden;
}
.navbutton:hover{
    border-bottom: 1px solid black;
}
.flex_wrap{
    flex-wrap: wrap;
}

@media only screen and (max-width: 420px) {
   
    .navbarFlex{
        flex-direction: column;
    }
    #navbarNav{
        margin: 0;
        font-size: 0.4rem;
        justify-content:start;
    }
    #offcanvasNavbar{
        visibility: visible;
    }
    .navbarResponsive{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    .column_order1{
        order: 1;
    }
    .column_order2{
        order: 2;
    }
}

@media only screen and (max-width:820px) and (min-width:421px) {
    #offcanvasNavbar{
        visibility: visible;
    }
    .navbarResponsive{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    .searchBar{
        padding: 0;
        float: none;
        justify-content: center;
    }
}