.navbutton{
    color: rgb(0, 72, 255);
    padding: 0.5rem 1rem;
}
#offcanvasNavbar{
    visibility: hidden;
}


@media only screen and (max-width: 420px) {
   
    .navbarFlex{
        flex-direction: column;
    }
    #navbarNav{
        margin: 0;
        font-size: 0.4rem;
        justify-content:start;
    }
    #offcanvasNavbar{
        visibility: visible;
    }
    .navbarResponsive{
        height: 0;
        width: 0;
        visibility: hidden;
    }
}

@media only screen and (max-width:820px) and (min-width:421px) {
    #offcanvasNavbar{
        visibility: visible;
    }
    .navbarResponsive{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    .searchBar{
        padding: 0;
        float: none;
        justify-content: center;
    }
}